* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
	background-color: #bef43f;
	background-image: linear-gradient(132deg, #bef43f 0%, #16A085 100%);
	background-repeat: no-repeat;
}
.container{
	min-width: 1280px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.box {
	min-width: 600px;
	min-height: 100px;
	margin: auto;
	background: rgb(56, 56, 56);
	border: 8px double black;	
	border-radius: 20px;
	position: relative;
	padding: 5px;
}
.main-txt {
	
	color: rgb(192, 191, 191);
	text-transform: uppercase;
	cursor: pointer;
	transition: linear 0.2s;
	display: inline-block;
}
.main-txt:hover{
	color: rgb(255, 255, 255);	
}
.btn {
	padding: 5px 10px;
	position: absolute;
	text-decoration: none;
	color: rgb(0, 0, 0);
	top: 5px;
	right: 5px;
	border: 4px solid black;	
	border-radius: 20px;
	background: rgb(56, 56, 56);
	transition: linear 0.2s;
}
.btn:hover{
	color: rgb(255, 255, 255);
	border: 4px solid rgb(255, 255, 255);	
}

@media screen and (max-width: 1280px) {
	.container{
		min-width: 100%;
	}
}

@media screen and (max-width: 618px) {
	.box {
		min-width: 100%;
	}
	body{
		padding: 0 10px;
	}
}

@media screen and (max-width: 466px) {
	.btn {
		position: absolute;
		top: 140%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
